html, body {
    height:100%;
    background:white;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('../images/PlainDoge.svg');
    background-size:auto 100%;
    min-height:100%;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    color:black;
}

h1 {
    color:black;
    font-size: 280px;
    width: 100%;
    margin:0;
    text-align: center;
}

#mc_embed_signup {
    position:relative;
    width: 60%;
    margin: 0 auto;
}
